.card {
  display: flex;
  flex-direction: column;
  border: solid 1px black;
  border-radius: 8px;
  margin: 0.5rem;
  box-shadow: 5px 5px 5px 0 gray;
  .comic-img-container {
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    img {
      width: 100px;
      height: 150px;
      margin-right: 1rem;
      border-top-left-radius: 7px;
    }
  }
  .character-info-container {
    padding: 1rem;
    h3 {
      width: fit-content;
    }
  }
}
