.list-header-container {
  padding: 2rem;
  h1 {
    font-size: 27px;
  }
  .input-wrapper {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    @media (max-width: 700px) {
      justify-content: flex-start;
    }
    @media (min-width: 700px) {
      justify-content: flex-end;
      padding: 1rem;
    }
    input {
      height: 30px;
      border-radius: 6px;
      border: solid 1px gray;
      @media (min-width: 700px) {
        padding: 0.25rem 1rem;
        margin-left: 2rem;
      }
      text-transform: capitalize;
    }
  }
}
.main-panel {
  width: 100%;
  padding: 2rem;
  .infinite-scroll {
    .cards-container {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      @media (max-width: 700px) {
        justify-content: center;
      }
      @media (min-width: 700px) {
        justify-content: space-evenly;
      }
      card-character {
        display: flex;
        width: 360px;
      }
    }
  }
}
